{% extends 'main/base.html' %}
{% block scc %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
{% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    <h2>{{ user.is_authenticated|yesno:'Смена пароля,Сброс пароля' }} пользователя {{ user.username }}</h2>
    <form class="login-form" action="" method="post">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <div class="label">
                    {{ field.label }}
                    <div {% if field.errors %} class="input error_input" {% else %}
                                               class="input" {% endif %}>{{ field }}</div>
                    <div class="error">
                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>

                </div>
            {% endfor %}
            <button type="submit">{{ user.is_authenticated|yesno:'Изменить пароль,Сбросить пароль' }}</button>

        </div>
    </form>

{% endblock %}