<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}">
    <title>
        {% block title %} movie {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'movie/css/aside.css' %}">
    {% block scc %}
    {% endblock %}

</head>

<body>
<div class="wrapper">
    <header class="header">
        {% block header %}
            {% include 'main/header.html' %}
        {% endblock %}
    </header>
    <main class="main-content">
        <aside class="aside">
            {% block aside1 %}
                {% include 'movie/aside1.html' %}
            {% endblock %}
        </aside>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </main>

    <footer class="footer">
        {% block footer %}
            {% include 'main/footer.html' %}
        {% endblock %}
    </footer>
</div>
</body>
</html>
