{% load static %}

<div class="header-container">

    <div class="header-image">
        <div class="logo">
            <a href="#"><img src="{% static 'main/img/logo.png' %}" alt=""></a>
        </div>
        <div class="social_media">
            <a href="#"><img src="{% static 'main/img/vk.png' %}" alt="VK"></a>
            <a href="#"><img src="{% static 'main/img/instagram.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'main/img/telegram.png' %}" alt="Telegram"></a>
        </div>
        <div class="header_contact">
            <p>+375 29 334 34 34</p>
            <p>+375 29 334 44 44</p>
            <p>+375 29 334 14 14</p>
        </div>
    </div>

    <nav class="nav">
        {% if not user.is_authenticated %}<a href="{% url 'main:register' %}">Регистрация</a> {% endif %}
        <a href="{% url 'main:profile' %}">Профиль</a>
        {% if user.is_authenticated %} <a href="{% url 'main:password_change' %}">Изменить пароль</a> {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'main:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'main:login' %}">Войти</a>
        {% endif %}

    </nav>
</div>
